.has-glow {
  fill: #e6007a !important;
  filter: url(#red-glow) !important;
}

.has-headphone-glow {
  fill: aliceblue !important;
  filter: url(#headphone-glow) !important;
}

.pom-bg {
  fill: azure;
}

#HeadPhone {
  fill: #777da7;
}

.head {
  fill: url(#grad1);
}


